# File: manifests/limit-range.yaml
apiVersion: v1
kind: LimitRange
metadata:
  name: observability-limits
  namespace: ${NAMESPACE}
spec:
  limits:
  - default:
      cpu: "500m"
      memory: "512Mi"
    defaultRequest:
      cpu: "100m"
      memory: "128Mi"
    type: Container
