# File: manifests/resource-quota.yaml
apiVersion: v1
kind: ResourceQuota
metadata:
  name: observability-quota
  namespace: ${NAMESPACE}
spec:
  hard:
    requests.cpu: "8"
    requests.memory: 16Gi
    limits.cpu: "16"
    limits.memory: 32Gi
    persistentvolumeclaims: "20"
    pods: "100"
